discord.py[voice]~=2.6.4
requests~=2.32.5
pillow~=11.3.0
emoji~=2.15.0
g4f[all]
taiwanbus==0.1.0
YouBikePython==0.1.0
psutil~=7.1.2
git+https://github.com/AvianJay/DiscordChatExporterPy.git@master
playwright~=1.55.0