<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord 機器人</title>
    <script src="./static/js/main.js"></script>
</head>
<body>
    <div>
        <img id="botavatar" src="" alt="Bot Avatar" style="width:100px; height:100px; border-radius:50%;">
        <h1 id="botname">正在載入中...</h1>
        <p id="uptimetext">上線時間: 請稍候...</p>
        <div id="botstatus">請稍候...</div>
        <button id="invitebtn" style="display:none;" onclick="inviteBot()">邀請機器人</button>
    </div>
</body>
</html>